* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #222831;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    width: max-content;
}

.header {
    display: flex;
    color: #EEEEEE;
    width: max-content;
}

.header img {
    width: 60px;
    height: 60px;
    margin: 15px;
    margin-left: 30px;
    border-radius: 5px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
    /* border: 1px solid #fff; */
    margin: 15px;
    min-width: 600px;
    margin-left: 0px;
    margin-top: 20px;
    color: #b1dfb1;
}

.nav {
    width: 500px;
    display: table;
    border-collapse: collapse;
    /* border: 1px solid #fff; */
    color: #EEEEEE;
    margin-left: 270px;
    margin-top: 40px;
    letter-spacing: 1px;
}

.nav li {
    display: table-cell;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    border-radius: 5px;
}

.nav a{
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
    color: #EEEEEE;
    padding-left: 10px;
    padding-right: 10px;
}

.nav a:hover {
    background: #393E46;
    transition: all 300ms ease;
}

.welcome {
    color: rgb(255, 184, 91);
}

.welcome span{
    font-family: cursive;
    color: #EEE;
}

.exambox {
    display: flex;
    justify-content: center;
}

.exambox form{
    margin: 2%;
    margin-top: 0;
    padding: 20px;
    padding-top: 10px;
    height: 80vh;
    max-height: 80vh;
    width: 120vh;
}

.exambox h2 {
    color: #00ADB5;
    padding: 10px;
    font-family: cursive;
    font-weight: lighter;
    border-radius: 5px;
    font-size: 30px;
    letter-spacing: 2px;
}

.questionbox {
    margin-top: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-top: 20px;
    background: #EEE;
    color: #222831;
    border-radius: 5px;
    width: 107vh;
    height: 65vh;
    max-width: 107vh;
    max-height: 65vh;
    overflow-y: scroll;
}

.question label{
    font-weight: bold;
    letter-spacing: 1px;
}

.textarea {
    resize: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.option1 label,
.option2 label,
.option3 label,
.option4 label,
.correct label{
    font-weight: bold;
    letter-spacing: 1px;
}

.correct select{
    padding: 5px;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-top: 10px;
}

.correct input {
    padding: 5px;
    letter-spacing: 1px;
}

.correct input:hover {
    background: rgb(167, 166, 166);
    transition: all 400ms ease;
}

.questionbox::-webkit-scrollbar {
    width: 15px;        
}
  
.questionbox::-webkit-scrollbar-track {
    background: #EEE;  
    border-radius: 10px;     
}
  
.questionbox::-webkit-scrollbar-thumb {
    background-color:#393E46;
    border-radius: 2px;  
    border: 5px solid #EEE;    
}

.submitform {
    margin-left: 90vh;
    margin-top: 3vh;
    padding: 10px 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    color: #EEE;
    background: #222831;
    border: 0;
    border: 1px solid #EEE;
    letter-spacing: 2px;
}

.submitform:hover {
    transition: all 200ms ease;
    cursor: pointer;
    background: #EEE;
    color: #222831;
    border: 1px solid #222831;
}

.error {
    color: #ff0008;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.success {
    color: rgb(0, 112, 0);
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}






