@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dongle:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

body {
    overflow: hidden;
    background: #222831;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    width: max-content;
}

.header {
    display: flex;
    color: #EEEEEE;
    width: max-content;
}

.header img {
    width: 60px;
    height: 60px;
    margin: 15px;
    margin-left: 30px;
    border-radius: 5px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
    /* border: 1px solid #fff; */
    margin: 15px;
    min-width: 600px;
    margin-left: 0px;
    margin-top: 20px;
    color: #b1dfb1;
}

.nav {
    width: 500px;
    display: table;
    border-collapse: collapse;
    /* border: 1px solid #fff; */
    color: #EEEEEE;
    margin-left: 270px;
    margin-top: 40px;
    letter-spacing: 1px;
}

.nav li {
    display: table-cell;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    border-radius: 5px;
}

.nav a{
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
    color: #EEEEEE;
    padding-left: 10px;
    padding-right: 10px;
}

.nav a:hover {
    background: #393E46;
    transition: all 300ms ease;
}

.welcome {
    color: rgb(255, 184, 91);
}

.welcome span{
    font-family: cursive;
    color: #EEE;
}

.error {
    color: #ff0008;
    margin-bottom: 10px;
    font-size: 18px;
}

.success {
    color: rgb(0, 112, 0);
    margin-bottom: 10px;
    font-size: 18px;
}

.details {
    color: #222831;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5vh;
}

.exambox {
    display: flex;
    justify-content: center;
}
.exambox h2 {
    color: #00ADB5;
    padding: 10px;
    font-family: cursive;
    font-weight: lighter;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 5vh;
}

.questionbox {
    margin-top: 2vh;
    padding: 10px;
    padding-left: 20px;
    padding-top: 20px;
    background: #EEE;
    color: #222831;
    border-radius: 5px;
    width: 60vh;
    height: 35vh;
    max-width:60vh;
    max-height: 35vh;
    display: block;
    line-height: 20px;
}

.questionbox select {
    width: 150px;
    height: 5vh;
    letter-spacing: 2px;
}

.option {
    height: 3vh;
    border-radius: 0;
}

.submitform {
    margin-left: 48vh;
    margin-top: 3vh;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    background: #222831;
    border-radius: 5px;
    color: #EEE;
    border: 0;
    border: 1px solid #EEE;
    letter-spacing: 2px;
    font-weight: bold;
}

.submitform:hover {
    transition: all 200ms ease;
    cursor: pointer;
    background: #EEE;
    color: #222831;
    border-radius: 1px solid #222831;
    border: 1px solid #EEE;
}

.exams {
    width: 205vh;
    height: 80vh;
    padding: 10vh;
    text-align: center;
    justify-content: center;
}

.exams table {
    width: 100vh;
    border-collapse: collapse;
    margin-left: 300px;
    color: #222831;
    padding: 3vh;
}

.exam table th, td {
    border: 5px solid #222831;
    font-weight: bold;
    padding: 5px;
}




